body {
    background-color: #592c47;
    font-family: Rockwell Extra Bold,Rockwell Bold,monospace; 
}
h1 {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    border: none;
    background: transparent;
    cursor: pointer;
}
.changePassword {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 10px;
    color: white;
    transition: 0.8s;
    cursor: pointer;
}
.changePassword:active {
    box-shadow: inset 8px 8px 24px 0px rgba(0, 0, 0, 1);
}
.changePassword:hover {
    box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
    transform: scale(1.1);
}

#login, 
#register {
    position: relative;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    width: 50vh;
    margin-top: 25vh;
    background-color: #803c5a;
    box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
}
p {
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
label {
    margin-right: 10px;
    color: white;
}
input {
    font-weight: bold;
    font-size: 1em;
    font-family: Rockwell Extra Bold,Rockwell Bold,monospace;
    height: 25px;
    border-radius: 10px;
    border: none;
    background-color: #f3838e;
    padding: 5px;
}
input:focus {
    box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
}
input::placeholder {
    color: white;
    font-style: italic;
}
input[type = 'submit'] {
    cursor: pointer;
    padding: 8px;
    color: white;
    text-align: center;
    height: fit-content;
    font-size: 1.2em;
    font-family: Rockwell Extra Bold,Rockwell Bold,monospace;
    margin: 5px;
    font-weight: bolder;
    transition: 0.8s;
}
input[type = 'submit']:hover {
    color: black;
    box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
    transform: scale(1.2);
}
input[type = 'submit']:active {
    box-shadow: inset 8px 8px 24px 0px rgba(0, 0, 0, 1);
}
#switch1, #switch2 {
    font-weight: bolder;
}

.wynik {
    color: white;
    font-weight: bold;
    font-style: italic;
}
