body {
    margin: 0;
    padding: 0;
    font-family: Rockwell Extra Bold,Rockwell Bold,monospace; 
    background-color: #803c5a;
    display: flex;
    justify-content: space-around;
}
header {
    background-color: #592c47;
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: xx-large;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
section {
    background-color: #803c5a;
    width: 100%;
    height: 70vh;
    overflow: auto;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #592c47;
    width: 100%;
    height: 11vh;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
main {
    width: 80%;
    border-radius: 30px;
    min-height: 70vh;
    margin-top: 5vh;
    box-shadow: 0px 0px 25px 7px rgba(0, 0, 0, 1);
}
nav {
    box-shadow: 0px 0px 25px 7px rgba(0, 0, 0, 1);
    border-radius: 30px;
    margin-top: 5vh;
    width: 15%;
    padding: 8px;
}

.message {
    background-color: #f3838e;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    clear: both;
    display: inline-block;
    max-width: 45%;
    word-wrap: break-word;
}
.other-message {
    text-align: left;
    float: left;
    margin-left: 10px;
}
.my-message {
    text-align: right;
    float: right;
    margin-right: 10px;
}

#text {
    background-color: #f3838e;
    width: 90%;
    border: none;
    border-radius: 10px;
    height: 35px;
    margin-top: 15px;
    text-align: right;
    font-size: large;
}
#text:focus {
    box-shadow: 8px 8px 24px 0px rgba(6, 6, 6, 1);
}
#text::placeholder {
    color: white;
    margin-right: 10px;
}
#send {
    background: transparent;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 10px;
    padding: 7px;
    font-size: 30px;
    color: white;

    border: none;
    border-radius: 10px;

    cursor: pointer;
}
#send:active {
    color: #f3838e;
}
nav h2 {
    font-style: italic;
    color: white;
}
nav h3 {
    color: white;
    font-style: italic;
}
#friendList {
    overflow: auto;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background-color: #f3838e;
    padding: 6px;
    text-align: center;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}
#account {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#account a {
    color: white;
}
#account a:active {
    color: black;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: #592c47;
    border-radius: 6px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}


/* kolory strony */
.color1 {color: #592c47;}
.color2 {color: #803c5a;}
.color3 {color: #b35973;}
.color4 {color: #f3838e;}
.color5 {color: #f6b6a2;}