body {
    background-color: #592c47;
    font-family: Rockwell Extra Bold,Rockwell Bold,monospace; 
}
h1 {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    border: none;
    background: transparent;
    cursor: pointer;
}
.changePassword {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 10px;
    color: white;
    transition: 0.8s;
    cursor: pointer;
}
.changePassword:active {
    box-shadow: inset 8px 8px 24px 0px rgba(0, 0, 0, 1);
}
.changePassword:hover {
    box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
    transform: scale(1.1);
}

#login, 
#register,
#accountSetings{
    position: relative;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    width: 50vh;
    margin-top: 23vh;
    background-color: #803c5a;
    box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
}
p {
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 9px;
}
label {
    margin-right: 10px;
    color: white;
}
input,
#fileLabel {
    font-weight: bold;
    font-size: 1em;
    font-family: Rockwell Extra Bold,Rockwell Bold,monospace;
    height: 25px;
    border-radius: 10px;
    border: none;
    background-color: #f3838e;
    padding: 5px;
}
#fileLabel {
    cursor: pointer;
    transition: 0.5s;
}
#fileLabel:hover {
    background-color: #f6b6a2;
    color: black;
}

input:focus {
    box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
}
input::placeholder {
    color: white;
    font-style: italic;
}
input[type = 'submit'] {
    cursor: pointer;
    padding: 8px;
    color: white;
    text-align: center;
    height: fit-content;
    font-size: 1.2em;
    font-family: Rockwell Extra Bold,Rockwell Bold,monospace;
    margin: 5px;
    font-weight: bolder;
    transition: 0.8s;
}
input[type = 'submit']:hover {
    color: black;
    box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
    transform: scale(1.2);
}
input[type = 'submit']:active {
    box-shadow: inset 8px 8px 24px 0px rgba(0, 0, 0, 1);
}
#switch1, #switch2 {
    font-weight: bolder;
}

.wynik {
    color: white;
    font-weight: bold;
    font-style: italic;
}

.visPass {
    position: relative;
    cursor: pointer;
    right: 25px;
    top: 2px;
    color: white;
}
.pass, .passVis {
    position: relative;
    left: 12px;
}

.block {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 1);
    padding: 7px;
    background-color: #b35973;
}
#file {
    display: none;
}
.block h3 {
    margin: 0;
    text-align: center;
    font-style: italic;
    color: white;
}
